{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<container class="container text-center">
    <div>
        <h1><b>{{ current_user.firstname }}'s {% if current_user.is_employer %}Employer{% else %}Employee{% endif %} Dashboard<br />[{{ company.name }}]</b></h1>
    </div>
    <div class="container text-center">
        <div class="row pt-3 p-2">
            <div class="col-lg-5 mt-2">
                <div class="card mb-3 p-3">
                    <ul class="list-group" style="max-height:650px; min-height:650px; min-width:fit-content; overflow:scroll; -webkit-overflow-scrolling:touch; overflow-x:hidden; overflow-y:auto">
                        {% if records %}
                            {% for record, hour in records|zip(hours) %}
                                <button type="button" class="list-group-item list-group-item-action">
                                    <div class="container text-center">
                                        <div class="row">
                                            <div class="col-sm mx-auto text-nowrap">
                                                {% if current_user.is_employer %}
                                                    <h5>Employee ID: {{ record.employee_id }}</h5>
                                                {% endif %}
                                                <h4>{{ record.start_time.strftime('%Y-%m-%d %H:%M') }}-{{ record.end_time.strftime('%H:%M')}}</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm mx-auto text-nowrap">
                                                <ul class="list-group list-group-horizontal-sm justify-content-center">
                                                    <li class="list-group-item">Hours = {{ hour }}</li>
                                                    <li class="list-group-item">Emails = {{ record.emails_sent }}</li>
                                                    <li class="list-group-item">Calls = {{ record.calls_made }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            {% endfor %}
                        {% else %}
                            <div class="centered-div">
                                <div class="card w-75 mb-3">
                                    <div class="card-body">
                                    <h5 class="card-title">No Records Found...</h5>
                                    {% if not current_user.is_employer %}
                                        <p class="card-text">To get started, add some records!</p>
                                        <a href="{{ url_for('records') }}" class="btn btn-primary">Add Records</a>
                                    {% else %}
                                        <p class="card-text">To get started, tell your employees to start using WeBalance</p>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-6" style="max-height:750px; min-height:650px; min-width:fit-content; overflow:scroll; -webkit-overflow-scrolling: touch; overflow-x: hidden; overflow-y:auto;">
                <div class="card mb-3 p-2" style="padding-right:3rem;">
                    {% if records %}
                        <div class="centered-div" style="padding-left:1rem;">
                            <div id="chart" style="width: 100%; height: 100%;"></div>
                        </div>
                        {% block scripts %}
                            <script type="text/javascript">
                                let averages = JSON.parse({{ graph_averages | tojson }});

                                google.charts.load('current', {'packages':['corechart']});
                                google.charts.setOnLoadCallback(drawChart);
                            
                                function drawChart() {
                                // Create the data table
                                var data = new google.visualization.DataTable();
                                data.addColumn('number', 'Week');
                                data.addColumn('number', 'Emails');
                                data.addColumn('number', 'Calls');
                                data.addColumn('number', 'Hours');
                                data.addRows([
                                    [1, averages['week1'][0], averages['week1'][1], averages['week1'][2]],
                                    [2, averages['week2'][0], averages['week2'][1], averages['week2'][2]],
                                    [3, averages['week3'][0], averages['week3'][1], averages['week3'][2]],
                                    [4, averages['week4'][0], averages['week4'][1], averages['week4'][2]],
                                ]);
                            
                                // Set chart options
                                var options = {
                                    title: 'Weekly Averages per Record (1-4 Weeks Ago)',
                                    curveType: 'function',
                                    'width': 600,
                                    'height': 500,
                                    'chartArea': {'width': '85%', 'height': '70%'},
                                    legend: { position: 'bottom' }
                                };
                            
                                // Instantiate and draw the chart
                                var chart = new google.visualization.LineChart(document.getElementById('chart'));
                                chart.draw(data, options);
                                }
                            </script>
                        {% endblock %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Hours</th>
                                <th scope="col">Emails</th>
                                <th scope="col">Calls</th>
                            <tbody>
                            <tr>
                                <td>All-time averages</td>
                                <td>{{ averages['all_time']['hours'] }}</td>
                                <td>{{ averages['all_time']['emails'] }}</td>
                                <td>{{ averages['all_time']['calls'] }}</td>
                            </tr>
                            <tr>
                                <td>7-day averages</td>
                                <td>{{ averages['week']['hours'] }}</td>
                                <td>{{ averages['week']['emails'] }}</td>
                                <td>{{ averages['week']['calls'] }}</td>
                            </tr>
                            <tr>
                                <td>30-day averages</td>
                                <td>{{ averages['month']['hours'] }}</td>
                                <td>{{ averages['month']['emails'] }}</td>
                                <td>{{ averages['month']['calls'] }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div> <!-- end of card -->
            </div> <!-- end of col-lg-6 -->
        </div> <!-- end of row -->
    </div>
</container>
{% endblock %}
