{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<container class="container text-center">
    <div>
        <h1><b>{{ current_user.firstname }}'s {% if current_user.is_employer %}Employer{% else %}Employee{% endif %} Dashboard<br />[{{ company.name }}]</b></h1>
    </div>
    <div class="container text-center">
        <div class="row pt-5 p-2">
            <div class="col-md-5">
                <div class="card mb-3 p-3">
                    <ul class="list-group" style="max-height:650px; min-height:650px; min-width:fit-content; overflow:scroll; -webkit-overflow-scrolling:touch; overflow-x:hidden; overflow-y:auto">
                        {% if records %}
                            {% for record, hour in records|zip(hours) %}
                                <button type="button" class="list-group-item list-group-item-action">
                                    <div class="container text-center">
                                        <div class="row">
                                            <div class="col-sm mx-auto text-nowrap">
                                                {% if current_user.is_employer %}
                                                    <h5>Employee ID: {{ record.employee_id }}</h5>
                                                {% endif %}
                                                <h4>{{ record.start_time.strftime('%Y-%m-%d %H:%M') }}-{{ record.end_time.strftime('%H:%M')}}</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm mx-auto text-nowrap">
                                                <ul class="list-group list-group-horizontal-sm justify-content-center">
                                                    <li class="list-group-item">Hours = {{ hour }}</li>
                                                    <li class="list-group-item">Emails = {{ record.emails_sent }}</li>
                                                    <li class="list-group-item">Calls = {{ record.calls_made }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            {% endfor %}
                        {% else %}
                            <div class="centered-div">
                                <div class="card w-75 mb-3">
                                    <div class="card-body">
                                    <h5 class="card-title">No Records Found...</h5>
                                    {% if not current_user.is_employer %}
                                        <p class="card-text">To get started, add some records!</p>
                                        <a href="{{ url_for('records') }}" class="btn btn-primary">Add Records</a>
                                    {% else %}
                                        <p class="card-text">To get started, tell your employees to start using WeBalance</p>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-6" style="max-height:650px; min-height:650px; min-width:fit-content; overflow:scroll; -webkit-overflow-scrolling: touch; overflow-x: hidden; overflow-y:auto;">
                <div class="card mb-3 p-3">
                    {% if current_user.is_employer %}
                        {% if employees %}
                        <div class="centered-div">
                            <div id="piechart" style="width: 100%; height: 100%;"></div>
                        </div>
                        {% else %}
                        <h1>Nothing to display!</h1>
                        {% endif %}
                    {% else %}

                        {% if current_user.is_employer %}All-time company averages:<br />{% else %}All-time employee averages:<br />{% endif %}
                        {{ averages['all_time']['hours'] }} hours<br />
                        {{ averages['all_time']['emails'] }} emails<br />
                        {{ averages['all_time']['calls'] }} calls<br />
                        {% if current_user.is_employer %}7-day company averages:<br />{% else %}7-day employee averages:<br />{% endif %}
                        {{ averages['week']['hours'] }} hours<br />
                        {{ averages['week']['emails'] }} emails<br />
                        {{ averages['week']['calls'] }} calls<br />
                        {% if current_user.is_employer %}30-day company averages:<br />{% else %}30-day employee averages:<br />{% endif %}
                        {{ averages['month']['hours'] }} hours<br />
                        {{ averages['month']['emails'] }} emails<br />
                        {{ averages['month']['calls'] }} calls<br />
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</container>
{% block scripts %}
<script type="text/javascript">
</script>
{% endblock %}
{% endblock %}
