{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<container class="container text-center">
<div class="card mx-auto text-center" style="width: 24rem; margin-top: 5rem;">
    <div class="card-body">
        <h1 class="card-title">Login</h1>
      
        <div class="container-sm">
            <form action="{{ url_for('login') }}" method="POST">
                <span class="text-nowrap">
                    <div class="form-floating mb-3" style="margin-top: 2rem">
                        <input type="email" name="email" class="form-control" id="email" placeholder="john@johndoe.com" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control" id="password" placeholder="123456" required>
                        <label for="password">Password</label>
                    </div>
                    <br><button type="submit" class="btn btn-primary btn-lg">Sign in</button>
                </span>
            </form>
    
            <br><label>No account?</label><br>
            <a class="btn btn-secondary" href="{{ url_for('signup')}}" role="button">Sign Up</a>
        </div>
    </div>
</div>
</container>
{% endblock %}
