{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="card mx-auto text-center" style="width: 24rem; margin-top: 5rem;">
    <div class="card-body">
        <h1 class="card-title">Login</h1>
      
        <div class="container-sm">
            <form action="/login" method="POST">
                <span class="text-nowrap">
                    <div class="mb3">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="d-flex">
                        <input type="text" class="form-control" id="inputEmail">
                        </div>
                    </div>
                    <div class="mb3">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="d-flex">
                        <input type="password" class="form-control" id="inputPassword">
                        </div>
                    </div>
                    <br><button type="submit" class="btn btn-primary btn-lg">Sign in</button>
                </span>
            </form>
    
            <br><br><label>No account?</label><br>
            <a class="btn btn-secondary" href="/signup" role="button">Sign Up</a>
        </div>

    </div>
</div>
{% endblock %}
