{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<container class="container text-center">
    <div class="content" style="text-align: center;">
        <h1 style="text-align: center;color:red;">!!! YET TO BE IMPLEMENTED !!!</h1>
        <h1 style="text-align: center;">Add Records</h1>
        {% if current_user.is_employer %}
            <h5 style="text-align: center;"><i>(Change the default for your employees)</i></h5>
        {% endif %}
        <div class="container-sm text-center" style="margin-top: 2rem;">
            <form action="{{ url_for('preferences') }}" method="POST">
                <div class="row justify-content-center">
                    <div class="col-sm-6">
                        <table class="table table-responsive table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Criteria</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Date</th>
                                    <td><input type="date" class="form-control" name="date"></td>
                                </tr>
                                <tr>
                                    <td>Start Time / End Time</th>
                                    <td>
                                        <div class="container text-center">
                                            <div class="row">
                                              <div class="col">
                                                <input type="time" class="form-control" name="start-time">
                                              </div>
                                              <div class="col">
                                                <input type="time" class="form-control" name="end-time">
                                              </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td># of Emails</th>
                                    <td><input type="number" class="form-control" name="emails"></td>
                                </tr>
                                <tr>
                                    <td># of Calls</th>
                                    <td><input type="number" class="form-control" name="calls"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input class="btn btn-primary" type="submit" value="Add">
                    </div>
                </div>
            </form>
        </div>
    </div>
</container>
{% endblock %}