{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<container class="container text-center">
    <div>
        <h1><b>{{ prev_month }} {{ prev_year }} Report</b></h1>
    </div>
    <div class="container text-center">
        <div class="centered-div">
            <div class="row mt-4">
                <div class="col-lg-6 col-md-push-6 centered-div">
                    <div class="card mb-3 p-3" style="width:800px; min-width:fit-content; padding-left:500px">
                        {% if employees %}
                            <div class="centered-div">
                                <div id="piechart" style="width: 100%; height: 100%;"></div>
                            </div>
                            {% block scripts %}
                                <script type="text/javascript">
                                    tally = JSON.parse({{ tally | tojson }})

                                    google.charts.load('current', {'packages':['corechart']});
                                    google.charts.setOnLoadCallback(drawChart);
                            
                                    function drawChart() {
                            
                                    var data = google.visualization.arrayToDataTable([
                                        ['Category', 'Percentage of Employees'],
                                        ['Under Limit',     tally['under_limit']],
                                        ['Over Limit',      tally['over_limit']],
                                        ['Near Limit',      tally['near_limit']],
                                    ]);
                            
                                    var options = {
                                        title: '% of Employees Over, Near, or Under Limit',
                                        'width': 600,
                                        'height': 700,
                                        'chartArea': {'width': '95%', 'height': '80%'},
                                        'legend': {'position': 'bottom'},
                                        colors: ['#238823', '#D2222D', '#FE7E04']
                                    };
                            
                                    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                                    
                                    chart.draw(data, options);
                                    }
                                </script>
                            {% endblock %}
                        {% else %}
                            <div class="centered-div">
                                <div class="card w-75 mb-3">
                                    <div class="card-body">
                                        <h4 class="card-title">No Data to Show!</h4>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-5 col-md-push-5 centered-div align-items-center" style="min-width:fit-content; ">
                    <div class="card mb-3 p-3">
                        <ul class="list-group" style="max-height:650px; min-height:650px; min-width:fit-content; -webkit-overflow-scrolling:touch; overflow-x:hidden; overflow-y:auto">
                            {% if employees %}
                                {% for employee in employees %}
                                    <div class="row mb-3 d-inline-flex p-">
                                        <div class="col-sm mx-auto text-nowrap">
                                            <ul class="list-group list-group-horizontal-sm justify-content-center">
                                                <li class="list-group-item">Employee ID: {{ employee.id }}</li>
                                                {% if hours[employee.id] > (preferences[employee.id].max_hours_weekly)*4 %}
                                                    <li class="list-group-item list-group-item-danger p-2"><b>Over limit</b></li>
                                                {% else %}
                                                    {% if hours[employee.id] >= 0.75*((preferences[employee.id].max_hours_weekly)*4) %}
                                                        <li class="list-group item list-group-item-warning p-2"><b>Near limit</b></li>
                                                    {% else %}
                                                        <li class="list-group item list-group-item-success p-2"><b>Under Limit</b></li>
                                                    {% endif %}
                                                {% endif %}
                                                <li class="list-group-item">Hours = {{ hours[employee.id] }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="centered-div">
                                    <div class="card w-75 mb-3">
                                        <div class="card-body">
                                            <h5 class="card-title">No Records Found...</h5>
                                            <p class="card-text">To get started, tell your employees to start using WeBalance</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</container>
{% endblock %}
