{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<container class="container text-center">
    <div>
        <h1>{{ prev_month }} {{ prev_year }} Report</h1>
    </div>
    <div class="container text-center">
        <div class="row pt-3">
            <div class="col-lg-5" style="margin-top:2rem;">
                <div class="card mb-3 p-3">
                    <ul class="list-group" style="max-height:650px; min-height:650px; min-width:fit-content; -webkit-overflow-scrolling:touch; overflow-x:hidden; overflow-y:auto">
                        {% if employees %}
                            {% for employee in employees %}
                                <div class="row mb-3 d-inline-flex p-2">
                                    <div class="col-sm mx-auto text-nowrap">
                                        <ul class="list-group list-group-horizontal-sm justify-content-center">
                                            <li class="list-group-item">Employee ID: {{ employee.id }}</li>
                                            {% if hours[employee.id] > (preferences[employee.id].max_hours_weekly)*4 %}
                                                <li class="list-group-item list-group-item-danger p-2">Over limit</li>
                                            {% else %}
                                                {% if hours[employee.id] >= 0.8*((preferences[employee.id].max_hours_weekly)*4) %}
                                                    <li class="list-group item list-group-item-warning p-2">Near limit</li>
                                                {% else %}
                                                    <li class="list-group item list-group-item-success p-2">Under Limit</li>
                                                {% endif %}
                                            {% endif %}
                                            <li class="list-group-item">Hours = {{ hours[employee.id] }}</li>
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="centered-div">
                                <div class="card w-75 mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">No Employees Found...</h5>
                                        <p class="card-text">To get started, tell your employees to start using WeBalance</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</container>
{% endblock %}
