{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<container class="container text-center">
<div class="card mx-auto" style="width: 30rem; margin-top: 2rem;">
    <div class="card-body">
        <h1 class="card-title">Create Account</h1>

        <div class="container-sm">
            <form id="form" action="{{ url_for('signup') }}" method="POST">
                <span class="text-nowrap">
                    <div class="form-floating mb-3" style="margin-top: 2rem">
                        <input type="text" name="firstname" class="form-control" id="firstname" placeholder="John" required>
                        <label for="firstname">First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="surname" class="form-control" id="surname" placeholder="Doe" required>
                        <label for="surname">Surname</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" id="email" placeholder="john@johndoe.com" required>
                        <label for="email">Work Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" name="company" id="company" style="text-align-last:center;" placeholder="Doe & Co." required>
                            <option selected value="none">Select...</option>
                            {% for company in companies %}
                                <option value="{{ company.id }}">{{company.name}}</option>
                            {% endfor %}
                        </select>
                        <label for="company">Company</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control" id="password" placeholder="123456" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="123456" required>
                        <label for="confirm_password">Confirm Password</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="employer_check" type="checkbox" value="1" id="employer_check">
                        <label class="form-check-label" for="employer_check">
                            Are you an employer?
                        </label>
                    </div>
                    <br><button type="submit" class="btn btn-primary btn-lg">Register</button>
                </span>
            </form>
        
            <br><br><label>Already have an account?</label><br>
            <a class="btn btn-secondary" href="{{ url_for('login') }}" role="button">Login</a>
        </div>
    </div>
</div>
</container>
{% endblock %}
